$background-color: #0f8cf8;
$primary-font-color: white;
$pink: #fb1e85;
$blue: #7ce6ff;
$blue-2: #0568E2;
$yellow: #F9B609;
$orange: #fc7f11;
$purple: #544075;
$infobar-size: 25px;
$navbar-size: 80px;
$footer-size: 50px;
$select-arrow-icon: url('../../images/select-arrow-icon.svg');